<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Pet Chat Bot</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

  <div class="container">
    <div class="row">
      <div class="col-md-12 jumbotron text-center">
        <h1><b>Pet Search Chatbot</b></h1>
      </div>
    </div>
    <div class="row justify-content-start">
      <div class="col-4 visibleblock">
          <p><a class="btn btn-primary btn-lg" href="/chat-bot/call-chat-bot" role="button">Start Pet Chat</a></p>
      </div>
  </div>
  <footer class="footer"></footer>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="{{ url_for('static', filename='sunburst.js') }}"></script>
  </body>

</html>
